.header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.info {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.loginCard {
  width: 400px;
  height: 500px;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 5px;
}
.loginCard p {
  font-weight: bold;
}
.loginImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.button {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  color: blue;
  margin-top: 125px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}
.buttonMed {
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  color: blue;
  margin-top: 125px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.buttonLogout {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  color: red;
  margin-top: 125px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.button:hover {
  background-color: lightblue;
}

.buttonMed:hover {
  background-color: lightblue;
}
.buttonLogout:hover {
  background-color: lightpink;
}
