.loginSection {
  padding-left: 10px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
  background-color: #1b1c1e;
  border-radius: 10px;
}

.loginSection h1 {
  padding-top: 20px;
  text-align: center;
  color: #77b7db;
  display: block;
}

.form {
  width: 600px;
}
.form label {
  margin-left: 150px;
  color: #ffffff;
  font-weight: bold;
  display: block;
}

.form input {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  width: 300px;
  height: 35px;
  background-color: #2c3037;
  color: #ffffff;
  font-size: medium;
  border-style: none;
}
.form select {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  width: 300px;
  height: 35px;
  background-color: #2c3037;
  color: #ffffff;
  font-size: medium;
  border-style: none;
}

.formLinks1 {
  color: white;
  text-decoration: none;
  display: inline;
  margin-left: 200px;
  font-size: small;
  font-weight: bold;
}
.formLinks2 {
  color: white;
  text-decoration: none;
  display: inline;
  margin-left: 140px;
  font-size: small;
  font-weight: bold;
}

.loginButton {
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #0b5ed7;
  border-radius: 5px;
  border-width: 1px;
  border-color: #0b5ed7;
  color: white;
  margin-top: 50px;
  margin-left: 320px;
  display: block;
  font-size: medium;
  font-weight: bold;
}

.loginButton:hover {
  background-color: #417bd4;
}

/* Registraion Page Specific CSS */
.registrationSection {
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 350px;
  margin-right: auto;
  width: 600px;
  height: auto;
  background-color: #1b1c1e;
  border-radius: 10px;
}
.registrationSection h1 {
  padding: 10px;
  text-align: center;
  color: #77b7db;
  display: block;
}

/* profile page specific css */
.profileSection {
  padding-left: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 1100px;
  background-color: #1b1c1e;
  border-radius: 10px;
}
.profileSection h1 {
  padding: 10px;
  text-align: center;
  color: #77b7db;
  display: block;
}

.updateButton {
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #07cb00;
  border-radius: 5px;
  border-width: 1px;
  border-color: #07cb00;
  color: white;
  margin-top: 50px;
  margin-left: 100px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
}

.updateButton:hover {
  background-color: #46de41;
}

.submitButton {
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #0b5ed7;
  border-radius: 5px;
  border-width: 1px;
  border-color: #0b5ed7;
  color: white;
  margin-top: 50px;
  margin-left: 210px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #417bd4;
}
